body {
    background-color: #C9C6DB;
}

header {
    height: 200px;
    background-image: url(../slike/burger_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header p {
    margin: 0px;
    padding-left: 80px;
    color: #F0F727;
    font-size: 80px;
    font-family: Comic Sans MS;
}

header nav li {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #4F76D7;
    border-radius: 10px;
    background-color: #C9C6DB;
    padding: 0px 4px;
}
header a {
    color: #4F76D7;
    text-decoration: none;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
}
header a:hover {
    color: #F0F727;
}

article {
    position: relative;
    padding: 15px 0px;
    width: 100%;
}
article img {
    height: 300px;
    float: left;
}

#subdiv {
    float: left;
    width: 50%;
    color: firebrick;
    font-family: Verdana;
    padding-right: 20px;
    text-align: justify;
}

footer {
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    color: firebrick;
}
footer img {
    width: 40px;
    float: left;
}
