body {
  background-color: lightgray;
  font-family: Helvetica, "Sans Serif";
}

.opravilo {
  color: darkorange;
}

.opravljeno {
  display: inline;
}

.neopravljeno_opravilo {
  display: inline;
}

.opravljeno_opravilo {
  text-decoration: line-through;
  color: darkgreen;
}

#novo_opravilo {
  border: 0;
  border-radius: 8px;
  background-color: lightsalmon;
}

#posodobi {
  border-radius: 8px;
  border-color: darkorange;
  color: darkorange;
  font-weight: bold;
}

#posodobi:hover {
  border-width: 2pt;
}